<p>
  <img id="save-the-date" src="images/savethedate-4.svg" alt="Save the Date" />
  <span>Sam Soffes &amp; Ellen Jones are getting married on August 17, 2013 in Louisville, KY. Save the date. Invitations later.</span>
</p>
