<img src="/assets/hero.jpg" alt="Sam &amp; Ellen">

<section>
  <h1><span class="s">Sam Soffes</span> &amp; <span class="e">Ellen Jones</span> are getting married on August 17, 2013 in Louisville, KY.</h1>

  <h2>Location</h2>
  <p>The ceremony and reception will be held at <a href="http://www.gardensatrayeden.com">The Gardens at Ray Eden</a> at five o'clock in the evening on August seventeenth, two thousand and thirteen.</p>

  <p>The wedding will be held outside in the gardens. Please dress accordingly. Parking will be available onsite.</p>

  <p><a id="map" href="https://maps.google.com/maps?ie=UTF8&amp;q=Gardens+At+Ray+Eden&amp;fb=1&amp;gl=us&amp;hq=gardens+at+ray+eden&amp;cid=0,0,7009647143684639602&amp;t=m&amp;ll=38.330346,-85.511398&amp;spn=0.094262,0.219383&amp;z=12&amp;iwloc=A&amp;source=embed">
    <span>
      13104 Cain Ln<br>
      Louisville, KY 40245
    </span>
  </a></p>

  <h2>Reception</h2>

  <p>The reception will be catered by Mark's Feed Store. The menu will primarily consist of Kentucky BBQ. However, vegetarian options will be available.</p>

  <h2>Registery</h2>

  <p>Sam &amp; Ellen are registred at <a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=%2D1085855931">Bed Bath &amp; Beyond</a> as well as <a href="http://www.jonathanadler.com/giftregs.php?eventid=2465">Jonathan Adler</a>.</p>


  <h2>Travel</h2>

  <p>A block of hotel rooms has been reserved at the <a href="http://www.marriott.com/hotels/travel/sdfne-courtyard-louisville-northeast/">Courtyard Marriott</a>. The following rooms are available:</p>

  <ul>
    <li><a href="http://www.marriott.com/hotels/travel/sdfne-courtyard-louisville-northeast/?toDate=8/18/13&amp;groupCode=SJWSJWA&amp;stop_mobi=yes&amp;fromDate=8/15/13&amp;app=resvlink">King with Sleeper Sofa</a>: $89 per night</li>
    <li><a href="http://www.marriott.com/hotels/travel/sdfne-courtyard-louisville-northeast/?toDate=8/18/13&amp;groupCode=SJWSJWB&amp;stop_mobi=yes&amp;fromDate=8/15/13&amp;app=resvlink">Two Queen Beds</a>: $99 per night</li>
  </ul>

  <h3><span class="s">S</span><span>&amp;</span><span class="e">E</span></h3>
</section>
