<p>
  <img id="save-the-date" src="images/savethedate-3.svg" alt="Save the Date" />
  <span>Sam Soffes &amp; Ellen Jones are getting married on September 21, 2013 in Louisville, KY. Save the date. Invitations later.</span>
</p>
