<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Sam &amp; Ellen</title>
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <%= yield %>
  <% if ENV['RACK_ENV'] == 'production' %>
  <script type="text/javascript">var _gauges=_gauges||[];(function(){var t=document.createElement('script');t.async=true;t.id='gauges-tracker';t.setAttribute('data-site-id','50a801dd613f5d6d10000060');t.src='//secure.gaug.es/track.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(t, s);})();</script>
  <% end %>
</body>
</html>
