html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  border:0;
  font:inherit;
  font-size:100%;
  margin:0;
  padding:0;
  vertical-align:baseline;
}

body {
  color:#222;
  font-family:"Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:17px;
  font-weight:300;
  line-height:1.5em;
  padding:0 10px;
}

ol,ul {
  list-style:none;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

caption,th,td {
  font-weight:normal;
  text-align:left;
  vertical-align:middle;
}

q,blockquote {
  quotes:none;
}

q:before,q:after,blockquote:before,blockquote:after {
  content:none;
}

a img {
  border:none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
  display:block;
}

section,header,footer,nav,article,aside,figure {
  display:block;
  width:100%;
}

mark,time,meter,progress {
  display:inline;
}

html {
  -webkit-font-smoothing:antialiased;
}

/* --- */

p {
  text-align: center;
  padding: 80px 0 10px;
}

img {
  width: 350px;
}

@media all and (max-width: 480px){
  img {
    width: 280px;
  }

  p {
    padding: 20px 0;
  }
}
